{% extends "base.html" %}

{% block content %}
<h1>CheckWikiBeck</h1>
<h4>Цель игры необычайнло проста - найти выход из лаберинта.
Но всё не так просто: в лаберинте водятся необычайные монстры, которые хотят вас съесть.
Убивайте монстров, открывайте сундуки, найдите ключ и выход из лаберинта - всё это ждёт вас в нашей игре.
Погрузитесь в невероятный мир игры CheckBeck!</h4>
{% if status == "develop" %}
<p><a href="/wiki/new_wiki" class="btn btn-primary">+ Добавить</a></p>
{% endif %}
<p><a href="/wiki/monster"><h4>Монстры ⮟</h4></a></p>
<p><a href="/wiki/object"><h4>Объекты ⮟</h4></a></p>
<p><a href="/wiki/weapon"><h4>Оружие  ⮟</h4></a></p>
{% endblock %}
