{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<div class="row">
    <div class="col-5">
        <div class="media">
            <img src="{{user.avatar}}" class="mr-3" alt="Аватар" height="128px">
            <ul class="list-group">
                <li class="list-group-item disabled" aria-disabled="true"><h3>{{user.name}}</h3></li>
                <li class="list-group-item">Email: {{user.email}}</li>
                <li class="list-group-item">
                    Статус пользователя:
                    {% if user.status == "admin" %}
                        <span class="badge badge-warning" style="color: #ffffff">Модератор</span>
                    {% elif user.status == "develop" %}
                        <span class="badge badge-danger">Разработчик</span>
                    {% else %}
                        <span class="badge badge-primary">Посетитель</span>
                    {% endif %}
                </li>
                {% if user.vk_id%}
                    <li class="list-group-item">VK id: {{user.vk_id}}</li>
                {% endif %}
                {% if current_user.status != 'user' and current_user != user %}
                    <li class="list-group-item">
                        Назначить:<br>
                        <div class="btn-group">
                            {% if current_user.status == 'develop' %}
                                {% if user.status == 'admin' %}
                                    <a class="btn btn-primary" style="color: #ffffff" href="/make/user/{{user.id}}">
                                        Пользователем
                                    </a>
                                {% else %}
                                    <a class="btn btn-warning" style="color: #ffffff" href="/make/admin/{{user.id}}">
                                        Модератором
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if current_user.status == 'develop' %}
                                {% if user.status == 'develop' %}
                                    <a class="btn btn-primary" style="color: #ffffff" href="/make/user/{{user.id}}">Пользователем</a>
                                {% else %}
                                    <a class="btn btn-danger" style="color: #ffffff" href="/make/develop/{{user.id}}">Разработчиком</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-7">
        {% for item in news%}
        <div class="col-md6 border rounded">

            <h2>{{item.title}}</h2>
            <div>
                {{item.content}}
            </div>
            <div class="name">
                Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
            </div>
            {% if current_user.id %}
                <div>
                    <a href="/create_comment/{{item.id}}/{{user.id}}" class="btn btn-primary"><i class="fa fa-commenting"></i> Комментировать</a>
                </div>
            {% endif %}
            <h3>Комментарии</h3>
            {% for comment in comments %}
            {% if comment.news_id == item.id %}
                <div class="media">
                    <img src="{{comment.user.avatar}}" class="mr-3" alt="Аватар" height="64px">
                    <div class="media-body">
                        <h5 class="mt-0"><a href="/profile/{{comment.user_id}}" style="color: #000000;">
                            {{comment.user.name}}
                            {% if comment.user.status == "admin" %}
                                <span class="badge badge-warning" style="color: #ffffff">Модератор</span>
                            {% elif comment.user.status == "develop" %}
                                <span class="badge badge-danger">Разработчик</span>
                            {% endif %}
                        </a></h5>
                        {{comment.content}}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}