{% extends "base.html" %}

{% block content %}
<h1>Записи</h1>
{% if current_user.id %}
    <a href="/new_news" class="btn btn-primary"><h2>Создать запись</h2></a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">

    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.id %}
        <div>
            <a href="/create_comment/{{item.id}}" class="btn btn-primary">Комментировать</a>
            {% if current_user.id == item.user_id %}
                <a href="/refactor_news/{{item.id}}" class="btn btn-primary">Изменить</a>
                <a href="/delete_news/{{item.id}}" class="btn btn-primary">Удалить</a>
            {% endif %}
        </div>
    {% endif %}
    <h3>Комментарии</h3>
    {% for comment in comments %}
    {% if comment.news_id == item.id %}
        <div class="media">
            <img src="{{comment.user.avatar}}" class="mr-3" alt="Аватар" height="64px">
            <div class="media-body">
                <h5 class="mt-0 {{comment.user.status}}">{{comment.user.name}}</h5>
                {{comment.content}}
            </div>
        </div>
        {% if current_user.id == comment.user_id %}
            <a href="/refactor_comment/{{comment.id}}" class="btn btn-primary">Изменить</a>
            <a href="/delete_comment/{{comment.id}}" class="btn btn-primary">Удалить</a>
        {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock %}